@import 'tailwindcss';

@import './styles/theme.css';
@import './styles/base.css';
@import './styles/components.css';

:root {
  --background: var(--color-surface-light);
  --overlay: var(--color-surface-onlight-overlay);
  --foreground: var(--color-font-onlight);
  --foreground-secondary: var(--color-font-onlight-secondary);
  --border: var(--color-border-onlight);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  border: var(--border);
}

/* TODO: Implement dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--surface-color-dark);
    --foreground: var(--font-color-on-dark);

    --surface-color: var(--surface-color-dark);
    --surface-color-alt: var(--surface-color-dark-alt);

    --font-color: var(--font-color-on-dark);
    --font-color-alt-1: var(--font-color-on-dark-alt-1);
    --font-color-alt-2: var(--font-color-on-dark-alt-2);
    --font-color-disabled: var(--font-color-on-dark-disabled);
  }
} */

/* INITIAL: */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-surface-dark);
    --foreground: var(--color-font-ondark);
    --border: var(--color-border-ondark);
    --overlay: var(--color-surface-ondark-overlay);
  }
} */
